@media screen and (max-width:576px){

    .container{
        flex-direction: column;
    img{
        text-align: center;
        width: 500px;
        height: 500px;
        margin-left: 37px; 
    }
    }

    .historiap{
        flex-direction: column;}

    div.alex{
     
        img{
            margin-top: 0;
            max-width: 550px;
            margin-left: 7px;}    

        p{
        justify-content: center;}
        }

    div.jaime{

        img{
            margin: 22px;
            padding: 0;
            text-align: center;}    
    }

    div.matt{

        img{
            max-width: 450px;
            margin: 35px;
            padding: 0;
            text-align: center;}
        
        p{
            margin-left: 55px;}
    }

    div.nick{

        img{
            margin: 30px;
            padding: 0;
            text-align: center;}
        
        p{
            margin-left:5px;
            justify-content: center;}    
    

        ul{
            display: flex;
            justify-content: center;
            margin: 0;}

        h3{
            font-size: xx-large ;}
    }

    .container{
        flex-direction: column;
    img{
        text-align: center;
        width: 500px;
        height: 500px;
        margin-left: 37px; 
    }
    }

    .historiap{
        flex-direction: column;
    }

    div.alex{
     
        img{
            margin-top: 0;
            max-width: 550px;
            margin-left: 7px;}    

        p{
        justify-content: center;}
        }

    div.jaime{

        img{
            margin: 22px;
            padding: 0;
            text-align: center;}    
    }

    div.matt{

        img{
            max-width: 450px;
            margin: 35px;
            padding: 0;
            text-align: center;}
        
        p{
            margin-left: 55px;}
    }

    div.nick{

        img{
            margin: 30px;
            padding: 0;
            text-align: center;}
        
        p{
            margin-left:5px;
            justify-content: center;}    
    }

        ul{
            display: flex;
            justify-content: center;
            margin: 0;}

        h3{
            font-size: xx-large ;}
        }